@import url('./reset.css');
@import url('./variables.css');


body {
  background-color: var(--color-surface);
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-general);
}

@media (320px <= width <= 479px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    align-items: center;
    margin-bottom: 8px;
  }
  .nav-icons {
    min-width: 24px;
  }
  .menu-icon {
    margin-right: 4px;
  }

  .logo-nav {
    min-height: 22px;
    padding-right: 24px;
  }

  .buttons-categories_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }

  .button-category {
    text-wrap: balance;
    background: var(--color-primary);
    border: transparent;
    color: var(--color-on-primary);
    padding: 10px 16px;
    border-radius: 100px;
    margin: 0 4px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    font-family: var(--font-general);
  }

  .backdrop-container{
    margin-bottom: 16px;
  }

  .backdrop-img {
    width: 100dvw;
  }

  .trending-posters_container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 8px 16px 16px;
  }

  .trending-title_container{
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .trending-title_container h2{
    margin-right: 16px;
    text-align: center;
    color: var(--color-on-primary);
    font-size: 1.5rem;
  }

  .trending-title_day{
    color: var(--color-primary80);
    border: var(--color-primary80) 1px solid;
    padding: 4px 10px;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
  }

  .trending-posters_container .trending-poster {
    margin-right: 8px;
  }
  .trending-poster {
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    border-radius: 8px;
  }

  .divider{
    width: 95dvw;
    margin: 16px auto;
    border: 1px solid var(--color-neutral-variant20);
    border-radius: 200px;
  }
}
main {
  width: 100vw;
}

.nav-icons {
  color: var(--color-on-surface);
}

.posters-section {
  margin: 0 32px;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: inherit;
  gap: 16px 16px;
}

.poster-box {
  position: relative;
}

.poster-img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.ui-bookmark {
  --icon-size: 16-px;
  --icon-secondary-color: rgb(255, 255, 255);
  --icon-hover-color: rgb(255, 255, 255);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 16px;
  --icon-anmt-duration: 0.3s;
  width: var(--icon-circle-size);
  height: var(--icon-circle-size);
  position: absolute;
  top: 0;
  left: 5px;
  margin: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.887);
  padding: 5px;
  border-radius: 50%;
}

.poster-box:hover > .ui-bookmark {
  opacity: 1;
}

.input-heart:checked > .ui.bookmark {
  opacity: 1;
}

.checked {
  opacity: 1;
}

.no-checked {
  opacity: 0;
}

.poster-box:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.747), transparent);
  border-radius: 8px 8px 0 0;
  z-index: 1;
}

.ui-bookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.svg-heart {
  margin-top: 0;
  transform: translateX(0) translateY(-16%);
}

.bookmark::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
  margin: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.ui-bookmark input:checked + .bookmark::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-bookmark input:checked + .bookmark::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.navbar {
  display: flex;
}

.logo-nav {
  width: 160px;
  flex-shrink: 0;
  cursor: pointer;
}

p {
  color: #f2dbae7a;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  margin: 0 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  &:hover {
    color: #f2dbae;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.button-more {
  width: auto;
  background: #a60303;
  border: transparent;
  color: #f2dbae;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

@-webkit-keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}
