@import url('./reset.css');
@import url('./variables.css');

body {
  background-color: var(--color-surface);
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-general);
  /* min-height: 100dvh; */
  overflow: auto;
}

main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

html .inactive {
  display: none;
}

.navbar {
  display: flex;
  position: sticky;
  max-width: 1300px;
  /* min-width: 320px; */
  top: 0px;
  /* justify-content: center; */
  height: 56px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 64px;
  background: var(--color-surface);
  z-index: 1000;
}

.navbar__link {
  text-decoration: none;
  color: var(--color-neutral-variant80);
  margin-right: 24px;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.navbar__link-text {
  font-size: 16px;
  &:hover {
    color: var(--color-on-primary);
    cursor: default;
  }
}

.navbar-active {
  font-weight: 500;
  color: var(--color-on-primary);
}

.navbar__logo-principal {
  width: 140px;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 24px;
}

.nav-icons {
  color: var(--color-on-surface);
  cursor: pointer;
  user-select: none; /* Estándar */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  min-width: 12px;
  max-width: 28px;
}

.nav-bookmark--a {
  color: transparent;
  display: none;
}

.navbar__responsive {
  display: none;
}
.navbar__search-input {
  width: 100%;
  position: relative;
  flex-shrink: 2;
}

.navbar__link--home {
  color: var(--color-neutral-variant80);
}

.genre-container {
  background: var(--color-neutral10);
  position: absolute;
  top: 56px;
  padding: 16px;
  border-radius: 0 0 10px 10px;
}

.genre-container__columns,
.genre-container__columns-respon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px 24px;
}

.genre-container__title {
  padding-inline-start: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color-on-primary);
}

.genre-label {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.genre-label:hover,
.genre-label:focus-within,
.genre-label:active {
  background: var(--color-surface-high);
}

.genre-radio {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.genre--radio-design {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: linear-gradient(to left bottom, #ffcf67, #d3321d);
  position: relative;
}

.genre--radio-design-respon {
  width: 15px;
  height: 15px;
  border-radius: 100px;
  background: linear-gradient(to left bottom, #ffcf67, #d3321d);
  position: relative;
}

.genre--radio-design::before,
.genre--radio-design-respon::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: var(--color-on-surface);
  transform: scale(1.1);
  transition: 0.3s;
}

.genre-radio:checked + .genre--radio-design::before,
.genre-radio:checked + .genre--radio-design-repon::before {
  transform: scale(0);
}

.genre--label-text {
  color: var(--color-neutral-variant60);
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.genre--label-text--respon {
  color: var(--color-neutral-variant60);
  margin-left: 12px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.genre-radio:checked ~ .genre--label-text,
.genre-radio:checked ~ .genre--label-text--respon {
  color: var(--color-on-primary);
}

.search-section--results {
  position: absolute;
  width: inherit;
  border-radius: 0 0 10px 10px;
  align-items: flex-start;
  padding: 12px 10px 10px 10px;
}

.search-section--container {
  display: flex;
  align-items: center;
}

.search-section--icon {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-variant60);
  margin-right: 8px;
}

.search-section--text {
  color: var(--color-neutral-variant60);
  font-size: 16px;
  font-weight: 500;
}

.navbar__search-input-container {
  display: flex;
  align-items: center;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  background: var(--color-neutral10);
  border-radius: 10px;
}

.search-section--title {
  font-size: 19px;
  color: var(--color-on-primary);
  margin-bottom: 8px;
  padding: 0 8px;
}

.search-section--results-container {
  width: 100%;
  flex-wrap: nowrap;
}

.search-section--trending {
  padding: 0 8px;
}

.search-section--trending-title {
  font-size: 19px;
  color: var(--color-on-primary);
  margin-bottom: 12px;
}

.trending--a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-neutral-variant80);
  margin-right: 24px;
  white-space: nowrap;
  border: 1px solid var(--color-neutral-variant60);
  border-radius: 8px;
  padding: 6px 6px;
  margin-inline-end: 8px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: default;
  &:hover {
    border: 1px solid var(--color-on-primary);
  }
}

.trending-icons {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.trending--span {
  font-size: 14px;
}

.search-section--trending-movies {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

/* section index */

.index-section {
  max-width: 900px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.index__backdrop--skeleton {
  width: 100%;
  animation: pulse 2s infinite;
}

.index__backdrop {
  width: 100%;
  padding: 0 24px;
  margin-bottom: 24px;
}

.section__backdrop-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.trending,
.popular,
.now-playing {
  display: flex;
  flex-direction: column;
}

.trending-posters_container,
.popular-posters_container,
.now-playing-posters_container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 0 8px 0 0;
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.trending-container {
  position: relative;
}

.trending__title-container,
.popular__title-container,
.now-playing__title-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.trending__title,
.popular__title,
.now-playing__title {
  margin-right: 16px;
  text-align: center;
  color: var(--color-on-primary);
  font-size: 1.5rem;
}

.trending__day {
  color: var(--color-primary80);
  border: var(--color-primary80) 1px solid;
  padding: 4px 10px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
}

.billboard-container--poster,
.categories-poster {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
}

.poster-loading {
  background: var(--skeleton);
  animation: skeleton infinite 3s;
  min-width: 180px;
  max-width: 100px;
  border-radius: 8px;
  margin-right: 16px;
  height: 270px;
  display: grid;
  place-content: center;
  padding: 0;
}

.billboard--poster-loading {
  background: var(--skeleton);
  animation: skeleton infinite 3s;
  height: 307.5px;
  display: grid;
  place-content: center;
}

.icon-tabler-photo {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  color: #848089;
}

/* .icon-image{
} */

.buttons-arrow {
  position: absolute;
  height: 100%;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background: var(--color-surface-opacity);
  border: none;
  cursor: pointer;
}

.buttons-arrow svg {
  color: var(--color-on-surface);
}

.button-left {
  left: 0;
  &:hover {
    opacity: 1;
  }
}

.button-right {
  right: 0;
  &:hover {
    opacity: 1;
  }
}

.buttons-categories--now-playing .buttons-categories {
  display: flex;
  padding: 0 8px 16px 8px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.section-categories,
.section-now-playing,
.section-top-rated,
.section-popular {
  width: 900px;
  min-height: 100%;
}

.now-playing-container--main,
.popular-container--main,
.top-rated-container--main,
.categories-container--main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 16px;
  padding: 0 16px;
  place-items: center;
  min-height: 100%;
}

.divider {
  width: 100%;
  margin: 24px auto;
  border: 1px solid var(--color-neutral-variant20);
  border-radius: 200px;
}

.billboard-poster,
.categories-poster {
  min-width: 205px;
  max-width: 100px;
  border-radius: 8px;
  aspect-ratio: 2/3;
  min-height: 0;
  max-height: 288px;
  overflow: hidden;
}

.trending-poster,
.billboard-poster--index {
  min-width: 180px;
  max-width: 100px;
  border-radius: 8px;
  aspect-ratio: 2/3;
  color: var(--color-on-surface);
}

.now-playing-poster--main:not(:last-child),
.popular-poster--main:not(:last-child),
.top-rated-poster--main:not(:last-child),
.trending-poster--main:not(:last-child) {
  margin-right: 16px;
}

.billboard-container--poster,
.categories--container {
  width: 100%;
  max-width: 205px;
  min-width: 135px;
  border-radius: 8px;
  margin: 0;
  height: auto;
  object-fit: cover;
  padding: 0;
}

.buttons-categories--main {
  justify-content: center;
}

.buttons-categories-container {
  display: flex;
  margin-bottom: 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: flex-start;
  white-space: nowrap;
}

.buttons-categories-container::-webkit-scrollbar {
  display: none;
}

.now-playing-container_container,
.categories-container_container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
  padding: 0 64px;
}

.buttons-categories__button {
  text-wrap: nowrap;
  background: var(--color-primary);
  border: transparent;
  color: var(--color-on-primary);
  padding: 10px 16px;
  border-radius: 100px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--font-general);
}

.search-input--main,
.search-section--results {
  background: var(--color-neutral10);
}

.search-input--container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#search-input {
  width: 100%;
  background: var(--color-neutral10);
  border: none;
  outline: none;
  height: 36px;
  border-radius: 10px;
  padding-bottom: 3px;
  padding-left: 8px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-on-primary);
  -moz-appearance: textfield;
  appearance: textfield;
  &::placeholder {
    color: var(--color-neutral-variant60);
  }
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

.search-input--container svg,
.navbar__search-input-container svg {
  width: 20px;
  height: 20px;
  color: var(--color-neutral-variant60);
}

.search-icon--input {
  margin-right: 6px;
}

.close-icon--input {
  margin-left: 8px;
  display: none;
}

.search-input--results {
  padding: 16px 12px;
}

.section-input--movie {
  display: flex;
  text-decoration: none;
  padding: 9px 8px 9px 8px;
  border-radius: 8px;
  &:hover {
    background-color: var(--color-surface-high);
  }
}

.section-input--movie-img {
  width: 56px;
  border-radius: 4px;
  margin-right: 16px;
}

.section-input--movie--span {
  color: var(--color-on-primary);
  font-size: 16px;
  font-weight: 500;
}

footer {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.button-more {
  width: auto;
  background: #a60303;
  border: transparent;
  color: #f2dbae;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

/* Movie details */
.section-movie--details {
  display: grid;
  flex-direction: column;
  min-width: 800px;
  max-width: 800px;
}

.backdrop-movie {
  margin-bottom: 16px;
  display: flex;
  place-content: center;
  color: white;
}

.backdrop-div {
  width: 90%;
  display: inline-block;
  aspect-ratio: 16/9;
}

.backdrop-img {
  border-radius: 0px 0px 16px 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-movie_container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 24px;
}

.title-movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* text-transform: uppercase; */
}

.title-movie--name {
  margin-right: 8px;
  color: var(--color-on-primary);
}

.title-movie h3 {
  color: var(--color-neutral-variant60);
  font-weight: 500;
}

.title-movie_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-list_text {
  font-size: 14px;
  color: var(--color-neutral-variant60);
  font-weight: 500;
}

.watch-now_container,
.synopsis-container,
.bento-information_container {
  margin: 0 16px;
  margin-bottom: 16px;
}

.watch-now_title {
  margin-bottom: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-on-primary);
}

.watch-icons {
  width: 45px;
  height: 45px;
  margin-right: 16px;
  border-radius: 8px;
}

.synopsis-title {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-on-primary);
}

.synopsis-text {
  font-size: 14px;
  text-wrap: pretty;
  color: var(--color-neutral-variant80);
}

.information-title {
  margin-bottom: 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-on-primary);
}

.information-release-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
}

#information-release-date {
  font-weight: 700;
}

.information-classification {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.information-cert-container {
  display: flex;
  flex-direction: column;
}

#information-certifications {
  font-size: 70px;
  line-height: 40px;
  height: 80px;
  border: 1px solid white;
  padding: 15px 5px;
  border-radius: 8px;
  font-weight: 700;
}

.information-budgets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.information-revenues-title,
.information-budgets-title {
  font-size: 16px;
}

.information-revenues-container,
.information-budgets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#information-revenues-money,
#information-budgets-money {
  font-weight: 600;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: repeat(2, 120px);
  gap: 10px;
}

.information-grid > div {
  border: 1px solid var(--color-primary70);
  background: var(--color-primary);
  border-radius: 8px;
}

.information-grid span {
  color: white;
}

.information-release-date {
  grid-column: 1 / 2;
}

.information-classification {
  grid-column: 2 / 3;
}

.information-budgets {
  grid-column: 3 / 5;
}

.information-crew {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 18px;
}

.information-crew div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.information-crew-name1,
.information-crew-name2,
.information-crew-name3 {
  font-weight: 600;
}

.information-language {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.information-genres {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 8px;
}

.genres-text {
  font-size: 16px;
  font-weight: 700;
}

.genre-title {
  font-size: 14px;
}
.information-score {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.information-duration {
  grid-column: 4 / 5;
  grid-row: 2/ 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

}

.information-duration span{
  font-size: 20px;
}

.information-language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.language-text {
  font-size: 16px;
  font-weight: 700;
}

.original-language {
  font-size: 14px;
}

.duration-time {
  font-size: 16px;
  font-weight: 700;
}

.skill {
  width: 70px;
  height: 70px;
  position: relative;
}

.outer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 10px;
  /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
}

.inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05); */
}

#number {
  color: #555;
  font-weight: 600;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.information-score svg {
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 40;
  }
}

@media (width <= 991px) {
  .navbar {
    padding: 0 24px;
    margin-bottom: 8px;
    justify-content: space-between;
  }

  .navbar__icon--menu {
    position: relative;
  }

  .navbar__menu-vertical {
    position: absolute;
    top: 55px;
    background-color: var(--color-neutral10);
    padding: 16px;
    border-radius: 8px;
    width: calc(100% - 48px);
    padding: 16px;
    left: 24px;
    right: 24px;
  }

  .navbar__menu-vertical ul {
    list-style: none;
  }

  .navbar__menu-vertical ul li {
    display: block;
    box-sizing: border-box;
    color: var(--color-on-surface);
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    text-wrap: nowrap;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    &:hover {
      /* font-weight: 500; */
      color: var(--color-on-primary);
      background-color: var(--color-surface-high);
    }
  }

  .index-section > :not(.index__backdrop) {
    padding: 0 16px;
  }

  .menu-icon {
    margin-right: 4px;
  }

  .navbar__responsive {
    color: transparent;
    display: flex;
  }

  .navbar__link--popular,
  .navbar__link--now-playing,
  .navbar__link--top-rated,
  .navbar__link--genre,
  .navbar__search-input,
  .navbar__link--home {
    display: none;
  }

  .navbar__link {
    margin-right: 0;
  }

  .now-playing-container--main,
  .popular-container--main,
  .top-rated-container--main,
  .categories-container--main {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .navbar__logo-principal {
    margin: 0;
  }

  .billboard-poster {
    max-width: none;
    min-width: 100%;
  }

  .now-playing-container--main,
  .popular-container--main,
  .top-rated-container--main,
  .categories-container--main {
    padding: 0 24px;
  }
}

@media (width <= 767px) {
  .navbar {
    padding: 0 24px;
    margin-bottom: 8px;
    justify-content: space-between;
  }

  .navbar__menu-vertical {
    width: calc(100% - 24px);
    padding: 16px;
    left: 12px;
    right: 12px;
  }

  .genre-label {
    padding: 8px 10px;
  }

  .now-playing-container--main,
  .popular-container--main,
  .top-rated-container--main,
  .categories-container--main {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .billboard-poster {
    max-width: none;
    min-width: 100%;
  }

  .now-playing-container--main,
  .popular-container--main,
  .top-rated-container--main,
  .categories-container--main {
    padding: 0 24px;
  }
}

@media (width <= 479px) {
  .nav-icons {
    max-width: 24px;
  }

  .navbar__menu-vertical {
    width: 100%;
    left: 0;
    padding: 16px;
  }

  /* Section Index */
  .index__backdrop {
    padding: 0 16px;
  }

  .index-section {
    display: flex;
    flex-direction: column;
  }

  .index-section > :not(.index__backdrop) {
    padding: 0 16px;
  }

  .categories-poster {
    min-width: 140px;
    max-width: 100px;
  }
  .trending-poster,
  .billboard-poster--index {
    min-width: 150px;
    max-width: 100px;
  }

  .trending__title,
  .popular__title,
  .now-playing__title {
    font-size: 1.5rem;
  }

  .now-playing-container--main,
  .popular-container--main,
  .top-rated-container--main,
  .categories-container--main {
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    gap: 10px;
    padding: 0 16px;
  }

  .billboard-poster {
    max-width: none;
    min-width: 140px;
  }
}

@keyframes skeleton {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
