:root {
  --color-surface: #050c14;
  --color-on-surface: #cccccc;
  --color-surface-high: #2B2B2B;
  --color-surface-opacity: #050c14cc;
  --color-primary: #420f95;
  --color-on-primary: #ffffff;
  --color-primary80: #B690F4;
  --color-neutral-variant20: #3C3941;
  --color-neutral-variant40: #65616B;
  --color-neutral-variant50: #848089;
  --color-neutral-variant60: #98949E;
  --color-neutral-variant80: #CBC9CF;
  --color-neutral10: #1F1F1F;
  --color-neutral10: rgba(31, 31, 31, 0.95);
  --font-general: 'system-ui', sans-serif;
  --skeleton: #0a1829;
}